body {
	background: green;
}

h1 {
	color: #000080;
	margin-left: 20px;
	margin-right: 20px;
}

p1 {
	color: white;
}

table, th, td {
	border-collapse : collapse;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

 th, td {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

th {
	background-color : grey;
	margin-left: 20px;
	margin-right: 20px;
}

.center {
	display: block;
	margin-left: 50px;
	margin-right: auto;
	width: 50%;
}